header
  text-align: center
nav li
  display: inline-block
nav li a
  display: inline-block
  padding: 0 $base-line-height / 2
  color: $text-color !important
  text-decoration: underline
  font-family: $custom-font-family
  font-size: 120%
.home-img
  position: fixed
  bottom: 0
  left: auto
  height: auto
  overflow: hidden

.home-main img
  display: none

header h1
  margin-bottom: $base-line-height / 2
  a
    color: $text-color !important
header img
  border-radius: 100px
  margin-bottom: $gutter
.social
  font-size: 28px
  text-align: center
  margin-bottom: $gutter
  li
    margin-right: 14px
    display: inline-block
  a
    color: $text-color
.container
  +outer-container
  max-width: 800px
  margin-top: $gutter * 2

.blog-list a
  color: $text-color !important
  display: block

.blog-list li
  padding: $gutter 0
  border-bottom: solid 1px $table-border-color
  &:first-child
    padding-top: 0
  &:last-child
    border-bottom: none
    padding-bottom: $gutter / 2

.event-list li
  +outer-container
  padding: $gutter 0
  border-bottom: solid 1px $table-border-color
  &:first-child
    padding-top: 0
  &:last-child
    border-bottom: none
    padding-bottom: $gutter / 2
  p:last-child
    margin-bottom: 0
  .event-time
    +span-columns(4)
    text-transform: uppercase
    color: $text-medium
    span
      display: inline-block
      background: $gray-dark
      color: $text-invert
      padding: $base-line-height / 8 $base-line-height / 4
  .event-details
    +span-columns(8)
    +omega

article h1,
  font-size: 200%
  font-family: $base-font-family
  margin-bottom: $base-line-height / 2
article .deck,
  font-size: 150%
  line-height: 1.5
  font-family: $base-font-family
article .date, .blog-list .date
  font-family: $base-font-family
  font-size: 90%
  margin-bottom: $base-line-height / 4
  color: $text-medium
article p
  font-family: $custom-font-family
  font-size: 120%
  line-height: 1.5
.work
  margin-bottom: $gutter

.work li
  +outer-container
  border-bottom: solid 1px $table-border-color
  padding: $gutter * 2 0
  position: relative
  min-height: 250px
  &:first-child
    padding-top: $gutter
  .time
    color: $text-medium
    font-size: 90%
    margin: $base-line-height / 4 0

  .desc, .gallery
    +span-columns(6)
    h3
      margin-bottom: $base-line-height / 2
      font-size: 150%
      font-weight: normal
  .gallery a
    display: none
  .gallery a:first-child
    display: block
  .gallery img
    width: 100%
  p:last-child
    margin-bottom: 0

+media($mobile)
  .event-list li
    .event-time, .event-details
      +span-columns(4)
    .event-time
      margin-bottom: $base-line-height / 2
  .work li
    .desc, .gallery
      +span-columns(4)
    .gallery
      margin-bottom: $gutter


+media($tablet)
  .container
    padding: 0 $gutter
  .home-main
    width: 100%
    padding: $gutter * 2
    img
      display: inline-block
  .home-img
    display: none
+media($desktop)
  .home-main
    margin: $gutter * 2 $gutter * 4
    max-width: 40%
  .home-img
    width: 40%
    right: $gutter * 2
    top: $gutter * 2
    text-align: center
    img
      height: auto
      max-width: 75%
  .work li
    .desc
      +omega
      .text
        position: absolute
        bottom: $gutter * 2
        right: 0
        +span-columns(6)

+media($desktop-wide)
  .home-main
    margin: $gutter * 2 $gutter * 4
    max-width: 40%
  .home-img
    width: 40%
    top: 0
    right: 0
    text-align: right
    img
      width: auto
      height: 100%
      max-width: none

