<ul class="social">
  {% if social.deviant_art %}<li><a href="{{ social.deviant_art }}" class="fa fa-deviantart"></a></li>{% endif %}
  {% if social.dribbble %}<li><a href="{{ social.dribbble }}" class="fa fa-dribbble"></a></li>{% endif %}
  {% if social.facebook %}<li><a href="{{ social.facebook }}" class="fa fa-facebook"></a></li>{% endif %}
  {% if social.flickr %}<li><a href="{{ social.flickr }}" class="fa fa-flickr"></a></li>{% endif %}
  {% if social.github %}<li><a href="{{ social.github }}" class="fa fa-github"></a></li>{% endif %}
  {% if social.google_plus %}<li><a href="{{ social.google_plus }}" class="fa fa-google-plus"></a></li>{% endif %}
  {% if social.hacker_news %}<li><a href="{{ social.hacker_news }}" class="fa fa-hacker-news"></a></li>{% endif %}
  {% if social.instagram %}<li><a href="{{ social.instagram }}" class="fa fa-instagram"></a></li>{% endif %}
  {% if social.linkedin %}<li><a href="{{ social.linkedin }}" class="fa fa-linkedin"></a></li>{% endif %}
  {% if social.pinterest %}<li><a href="{{ social.pinterest }}" class="fa fa-pinterest"></a></li>{% endif %}
  {% if social.reddit %}<li><a href="{{ social.reddit }}" class="fa fa-reddit"></a></li>{% endif %}
  {% if social.spotify %}<li><a href="{{ social.spotify }}" class="fa fa-spotify"></a></li>{% endif %}
  {% if social.stack_overflow %}<li><a href="{{ social.stack_overflow }}" class="fa fa-stack-overflow"></a></li>{% endif %}
  {% if social.steam %}<li><a href="{{ social.steam }}" class="fa fa-steam"></a></li>{% endif %}
  {% if social.tumblr %}<li><a href="{{ social.tumblr }}" class="fa fa-tumblr"></a></li>{% endif %}
  {% if social.twitter %}<li><a href="{{ social.twitter }}" class="fa fa-twitter"></a></li>{% endif %}
  {% if social.vimeo %}<li><a href="{{ social.vimeo }}" class="fa fa-vimeo"></a></li>{% endif %}
  {% if social.youtube %}<li><a href="{{ social.youtube }}" class="fa fa-youtube"></a></li>{% endif %}
</ul>

